<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Drill down view</title>
</head>
<body>

<p>Domain details for &lt;Domain&gt;</p>
<p>&nbsp;</p>
<table style="height: 75px;" width="588">
<tbody>
<tr>
<td style="width: 140px;">Organisation Name</td>
<td style="width: 140px;">&nbsp;</td>
<td style="width: 140px;">Sector</td>
<td style="width: 140px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 140px;">NS Provider</td>
<td style="width: 140px;">&nbsp;</td>
<td style="width: 140px;">CDN Provider</td>
<td style="width: 140px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 140px;">Mail Provider</td>
<td style="width: 140px;">&nbsp;</td>
<td style="width: 140px;">&nbsp;</td>
<td style="width: 140px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Associated Domains</p>
<p>&nbsp;</p>

</body>
</html>