{% extends "layout.html" %}
{% block body %}
<body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>
    <script src='https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js'></script>



	<div class="row">
		<div class="col-md-12" ng-app="app">
			<h3>
				Weather Centre Summary
			</h3>
			<p>
				 This is the Weather Centre summary screen. Here you can see a summary of the findings across all domains.
			</p>


			<div class="row">
				<div class="col-md-6" ng-controller="DNS">
					<h3>
						DNS Providers
					</h3>

                    <canvas class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-options="options" chart-click="onClickSlice"></canvas>

                    <script>

                        var app = angular.module('app', ['chart.js']);

                        app.controller('DNS', ['$scope', '$window', '$location', function ($scope, $window, $location) {
                            $scope.labels = [{% for entry in ns_providers %}
                                                "{{ entry }}",
                                                {% endfor %}];
                            $scope.data = [{% for entry in ns_providers %}
                                                {{ ns_providers[entry] }},
                                                {% endfor %}];
                            $scope.options = {cutoutPercentage: 60, legend: {display: true, position: 'right'}};
                            $scope.onClickSlice = function (points, ev) {
                                            var pr = points[0]._view.label;
                                            $window.location.href = '/nspdd?provider=' + pr;



                                            }

                        }]);

                    </script>


				</div>

				<div class="col-md-6" ng-controller="CA">
					<h3>
						CA Providers
					</h3>

                    <canvas class="chart chart-doughnut" chart-data="cadata" chart-labels="calabels" chart-options="caoptions"></canvas>

                    <script>

                        app.controller('CA', ['$scope', function ($scope) {
                            $scope.calabels = [{% for entry in ca_providers %}
                                                "{{ entry }}",
                                                {% endfor %}];
                            $scope.cadata = [{% for entry in ca_providers %}
                                                {{ ca_providers[entry] }},
                                                {% endfor %}];
                            $scope.caoptions = {cutoutPercentage: 60, legend: {display: true, position: 'right'}};

                        }]);


                    </script>

				</div>

			</div>

			<div class="row">
				<div class="col-md-12" ng-controller="ASN">
					<h3>ASN</h3>
					<canvas class="chart chart-doughnut" chart-data="asndata" chart-labels="asnlabels" chart-options="asnoptions"></canvas>

                    <script>

                        app.controller('ASN', ['$scope', function ($scope) {
                            $scope.asnlabels = [{% for entry in asn_providers %}
                                                "{{ entry }}",
                                                {% endfor %}];
                            $scope.asndata = [{% for entry in asn_providers %}
                                                {{ asn_providers[entry] }},
                                                {% endfor %}];
                            $scope.asnoptions = {cutoutPercentage: 60, legend: {display: true, position: 'right'}};

                        }]);


                    </script>

				</div>
			</div>

			<!-- Trial Dynamic Data Below -->

			<div class="row">
				<div class="col-md-12" ng-controller="test">
					<h3>Test Data</h3>

					<canvas class="chart chart-doughnut" chart-data="testdata" chart-labels="testlabels" chart-options="testoptions"></canvas>
                    <label for="dataset">Data Set Selection</label>
                    <select name="dataset" ng-model="dataset">
                        <option value="set1">Set 1</option>
                        <option value="set2">Set 2</option>
                    </select>

                    <script>

                    app.controller('test', ['$scope', function ($scope, $http)
                    {
                            $scope.testlabels = [{% for entry in asn_providers %}
                                                "{{ entry }}",
                                               {% endfor %}];
                            $scope.testdata = [{% for entry in asn_providers %}
                                                {{ asn_providers[entry] }},
                                               {% endfor %}];
                            $scope.testoptions = {cutoutPercentage: 60, legend: {display: true, position: 'right'}};

                            $http.post

                            $scope.new_data = function ()
                            {
                                    dataset = "set1";
                                    $.ajax({
                                            url: "{{url_for('change_data')}}",
                                            contentType: 'application/json;charset=UTF-8',
                                            data: {'set':dataset},
                                            type: 'POST',
                                            success: function(data)
                                            {
                                                var labels = [];
                                                var new_data = [];

                                                Object.keys(data.results).forEach(function (key) {
                                                    var test = data.results[key];
                                                    Object.keys(test).forEach(function (key) {
                                                        labels.push(Object.keys(test));
                                                        new_data.push(test[key]);
                                                    });
                                                });
                                            console.log(labels);
                                            console.log(new_data);

                                            $scope.testlabels = labels;
                                            $scope.testdata = new_data;



                                            },
                                            error: function(data)
                                            {
                                                console.log(data);
                                            }
                                    });
                            };
                        }]);




                    //app.controller('test', ['$scope', function ($scope)
                    //{
                     //   $scope.testlabels = [{% for entry in asn_providers %}
                     //                           "{{ entry }}",
                     //                           {% endfor %}];
                     //   $scope.testdata = [{% for entry in asn_providers %}
                      //                          {{ asn_providers[entry] }},
                      //                          {% endfor %}];
                      //  $scope.testoptions = {cutoutPercentage: 60, legend: {display: true, position: 'right'}};
//
                    //}]);


                    </script>

				</div>
			</div>


		</div>
	</div>
</body>


{% endblock %}